.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

header,
main,
footer {
  text-align: center;
}

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-item > a {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}
