.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 10px 0;
}

header,
main,
footer {
  text-align: center;
}

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-item > a {
  color: black;
  text-decoration: none;
}

#board-list {
  width: 700px;
  margin: 10px auto;
}

#board-list,
#board-list th,
#board-list td {
  border: 1px solid;
  border-collapse: collapse;
}
